In [2]:
n = 0

with open('pp-complete.csv') as file:
        for i in file:
            n += 1
print(n)

24020161

In [34]:
import pandas as pd

length = 24020161

file = pd.read_csv('pp-complete.csv', header=None, iterator=True,
                   chunksize=100000, usecols=[1,2,3,4,5,6], parse_dates=True,
                   names=('Price', 'Date', 'PC', 'Type', 'Newold', 'Freehold')
                  )

In [35]:
print(file.get_chunk())
for chunk in file:
    pass

        Price              Date        PC Type Newold Freehold
0      122000  1995-09-29 00:00  NG14 5DE    D      N        F
1       37000  1995-12-22 00:00  CV21 2JJ    T      N        F
2       93500  1995-07-27 00:00   UB8 2AP    D      N        F
3       32000  1995-03-03 00:00   HD6 4AD    T      N        F
4       38000  1995-09-08 00:00   B30 3PP    T      N        F
5       29000  1995-08-04 00:00  WF15 7LY    S      N        F
6       86000  1995-09-21 00:00  CV37 7AJ    S      N        F
7       58000  1995-04-11 00:00   HP3 9LS    T      Y        F
8      139950  1995-09-15 00:00   HA5 2TP    D      N        F
9       14000  1995-03-24 00:00   NG2 4AR    T      N        F
10      49995  1995-04-21 00:00   CO5 0DD    T      N        F
11       8000  1995-12-22 00:00   BB2 1HT    T      N        F
12      37320  1995-05-05 00:00  TN35 5BT    T      N        F
13     103500  1995-05-26 00:00  WA15 8BX    S      N        F
14      77500  1995-11-17 00:00   B60 2HA    S      N        L
15      42000  1995-07-07 00:00  CW12 3BG    S      N        F
16      94500  1995-07-25 00:00  RG12 8GJ    D      N        F
17      36500  1995-12-01 00:00   HU7 0DW    S      N        F
18      46000  1995-08-30 00:00  SO18 2FP    T      N        L
19      31500  1995-10-13 00:00  NE34 8NS    S      N        F
20     105000  1995-10-03 00:00   SS8 7NY    D      N        F
21      46500  1995-12-15 00:00  SO30 3FB    T      N        F
22      56500  1995-10-12 00:00   S10 1NF    T      N        L
23      66500  1995-04-28 00:00  OX33 1QE    T      Y        F
24     110950  1995-06-02 00:00   LE8 6QX    D      Y        F
25      35000  1995-04-28 00:00  NE10 0NS    S      N        F
26      39950  1995-02-28 00:00   HU9 1QD    F      Y        L
27      33950  1995-02-28 00:00   HD8 9FG    F      Y        L
28      49950  1995-10-27 00:00   HX6 4RZ    F      Y        L
29      84950  1995-05-22 00:00   M45 7BN    D      Y        L
...       ...               ...       ...  ...    ...      ...
99970   39995  1995-08-25 00:00  CF31 2QS    S      Y        F
99971   70000  1995-11-16 00:00   LA3 2RE    D      N        F
99972   56500  1995-12-11 00:00   PL9 8UL    S      N        F
99973   65000  1995-03-29 00:00  CV23 0NX    D      N        F
99974   28000  1995-12-18 00:00   B23 6AS    T      N        F
99975   36000  1995-03-24 00:00  NE11 0TW    T      N        F
99976   53000  1995-09-22 00:00  PO11 9NZ    S      N        F
99977   84250  1995-12-15 00:00   DN5 7XL    D      Y        F
99978   46995  1995-08-31 00:00  BA21 3TW    S      Y        F
99979   94950  1995-05-26 00:00   CW2 6XG    D      Y        F
99980   68000  1995-07-28 00:00  RM12 5PS    T      N        F
99981   63000  1995-07-31 00:00  ST13 8TF    S      N        F
99982   58000  1995-05-16 00:00   EN5 4BU    F      N        L
99983   17700  1995-01-20 00:00  NE23 2FL    F      N        L
99984   37500  1995-03-17 00:00  NP20 5QJ    S      N        F
99985   82950  1995-07-07 00:00  RH12 1SF    T      Y        F
99986   55000  1995-08-25 00:00  SO30 2AG    T      N        F
99987   20750  1995-11-10 00:00  NG15 7HN    T      N        F
99988   58950  1995-09-29 00:00   ST2 7QG    D      Y        F
99989   87000  1995-04-06 00:00  SE25 4DR    T      N        F
99990   51950  1995-10-31 00:00   HU9 1SY    S      Y        F
99991   66500  1995-02-15 00:00  EX34 7BE    S      N        F
99992   47450  1995-07-21 00:00   BB1 6NL    S      Y        F
99993   50000  1995-07-28 00:00  PO16 8PB    S      N        F
99994   84500  1995-09-15 00:00   GL5 5AG    S      N        F
99995   35000  1995-02-24 00:00   NG3 1HB    T      N        F
99996   20000  1995-10-25 00:00   HU6 7RG    T      N        F
99997   41000  1995-05-24 00:00   OL4 1JB    S      N        L
99998   32500  1995-01-06 00:00  BD18 4PJ    T      N        F
99999   64500  1995-07-14 00:00  CF31 1NP    D      N        F

[100000 rows x 6 columns]